---
import '../styles/Header.css';
---

<div class="site-header">
  <div class="header-container">
    <a href="/" class="logo">
      <img src="/favicon.png" alt="MindMaster Club Logo" width="32" height="32" class="logo-image" />
      <span>MindMaster Club</span>
    </a>
  </div>
</div>
